@model List<DTOLayer.AppUserDTO>
<div class="container">
	<div class="mb-3">
		<a class="btn btn-primary" asp-action="Create" asp-controller="AdminUser" role="button">Create New User</a>
	</div>
	<table class="table table-bordered table-striped table-hover  small-table shadow" style="width: 1000px; margin-left: 140px">
		<thead style="background-color: #333; color: white;">
			<tr>
				<th scope="col">Profile Photo</th>
				<th scope="col">Username</th>
				<th scope="col">Role</th>
				<th scope="col">Fullname</th>
				<th scope="col">Phone Number</th>
				<th scope="col">Email Address</th>
				<th scope="col" class="action-column">Actions</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var appUser in Model)
			{
				<tr>
					<td class="ml-3">
						@if (appUser.Image is not null)
						{
							<img src="@("/images/Account/" + appUser.Image.ImageName)"
								 class="rounded-circle img-thumbnail img-fluid shadow" alt=""
								 style="width: 100px; height: 80px; padding:2px;">
						}
					</td>
					<td class="custom-break align-middle"> @appUser.Username</td>
					@foreach (var appRole in appUser.AppRoles)
					{
						<td class="custom-break align-middle"> @appRole.Name</td>
					}
					<td class="custom-break align-middle"> @appUser.FirstName @appUser.LastName</td>
					<td class="custom-break align-middle">@appUser.PhoneNumber</td>
					<td class="custom-break align-middle"> @appUser.EMail</td>
					<td class="align-middle">
						<div class="dropdown">
							<button type="submit" class="btn btn-secondary dropdown-toggle" id="dropdownMenuLink"
									data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								Select Action
							</button>
							<ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
								<li>
									<a class="dropdown-item update-button" asp-action="Update" asp-route-id="@appUser.Id">
										Update
									</a>
								</li>
								<li>
									<button type="button" id="deleteButton@(appUser.Id)" class="dropdown-item"
											data-bs-toggle="modal" data-bs-target="#exampleModal">
										Delete
									</button>
								</li>
							</ul>
						</div>
						<form asp-action="Delete" asp-route-id="@appUser.Id" method="post">
							<div class="modal fade" id="exampleModal@(appUser.Id)" tabindex="-1"
								 aria-labelledby="exampleModalLabel" aria-hidden="true">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">
											<h5 class="modal-title" id="exampleModalLabel">Are you Delete?</h5>
											<button type="button" class="btn-close" data-bs-dismiss="modal"
													aria-label="Close"></button>
										</div>
										<div class="modal-body">
											Fullname : " @appUser.FirstName @appUser.LastName " <br>
											Phone Number : " @appUser.PhoneNumber "
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-secondary"
													data-bs-dismiss="modal">
												Close
											</button>
											<button type="submit" class="btn btn-danger">Yes , Delete</button>
										</div>
									</div>
								</div>
							</div>
						</form>
					</td>
					<script>
						document.getElementById("deleteButton@(appUser.Id)").addEventListener('click', function () {
							var myModal = new bootstrap.Modal(document.getElementById('exampleModal@(appUser.Id)'));
							myModal.show();
						});
					</script>
				</tr>
			}
		</tbody>
	</table>
</div>

<!-- Modal -->

@section imageCss{
	<link href="~/Admin/css/custom-image.css" rel="stylesheet">
}

@section indexJs{
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/Admin/js/user-index.js"></script>
}